body{
    font-family: 'Poppins', sans-serif;
}
.shinchan{
    background-image: url(corner-banner.webp);
    background-repeat: no-repeat;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.blue-color{
    color: rgb(74, 74, 240);
}
.Doraemon{
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    margin: 0%;
    background-position: right;
}
.box-shadow{
    box-shadow: 10px 10px 40px rgb(143, 143, 156);
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    border-radius: 5px;
    padding: 10px;
}
.experience-area{
    background-image: url(floral-bg2.jpg) ;
    background-repeat: no-repeat;
    margin: 0%;
    background-position: left;
}
#border-web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(salmon ,tomato)  ;
    border-image-slice: 1;
}
#baby-web{
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;
    border-left: 5px solid;
}
footer p{
    text-align: center;
}